<a href="https://colab.research.google.com/github/jjrsj8110/Mlbstats/blob/main/mlbProj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv("careerstats.csv")
print(data)
print(data.columns)

         Season           Age          Team            Lg   WAR      G  \
0          2021            24           SEA            AL  -0.5   47.0
1          2022            25           SEA            AL   3.9  119.0
2          2023            26           SEA            AL   3.4  145.0
3          2024            27           SEA            AL   4.7  153.0
4          2025            28           SEA            AL   5.1   99.0
5         5 Yrs         5 Yrs         5 Yrs         5 Yrs  16.5  563.0
6  162 Game Avg  162 Game Avg  162 Game Avg  162 Game Avg   4.8  162.0

       PA      AB      R      H  ...   rOBA  Rbat+     TB  GIDP   HBP   SH  \
0   148.0   139.0    6.0   25.0  ...  0.229     41   43.0   3.0   1.0  0.0
1   415.0   370.0   46.0   78.0  ...  0.338    123  181.0   5.0   2.0  0.0
2   569.0   513.0   78.0  119.0  ...  0.331    116  234.0   6.0   1.0  0.0
3   628.0   546.0   73.0  120.0  ...  0.324    117  238.0   7.0   6.0  0.0
4   438.0   367.0   68.0   94.0  ...  0.410    179  227.0   5.0   5.0  0.0
5  2198.0  1935.0  271.0  436.0  ...  0.339    124  923.0  26.0  15.0  0.0
6   632.5   556.8   78.0  125.5  ...  0.339    124  265.6   7.5   4.3  0.0

     SF   IBB    Pos    Awards
0   1.0   0.0    2/H       NaN
1   5.0   0.0  *2H/D       NaN
2   1.0   1.0   *2HD    MVP-18
3   6.0   4.0  *2D/H  MVP-12GG
4   3.0  12.0  *2D/H        AS
5  16.0  17.0    2DH       NaN
6   4.6   4.9    NaN       NaN

[7 rows x 33 columns]
Index(['Season', 'Age', 'Team', 'Lg', 'WAR', 'G', 'PA', 'AB', 'R', 'H', '2B',
       '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS',
       'OPS+', 'rOBA', 'Rbat+', 'TB', 'GIDP', 'HBP', 'SH', 'SF', 'IBB', 'Pos',
       'Awards'],
      dtype='object')

In [4]:
data = data.drop(columns="Age")
print(data)

         Season          Team            Lg   WAR      G      PA      AB  \
0          2021           SEA            AL  -0.5   47.0   148.0   139.0
1          2022           SEA            AL   3.9  119.0   415.0   370.0
2          2023           SEA            AL   3.4  145.0   569.0   513.0
3          2024           SEA            AL   4.7  153.0   628.0   546.0
4          2025           SEA            AL   5.1   99.0   438.0   367.0
5         5 Yrs         5 Yrs         5 Yrs  16.5  563.0  2198.0  1935.0
6  162 Game Avg  162 Game Avg  162 Game Avg   4.8  162.0   632.5   556.8

       R      H    2B  ...   rOBA  Rbat+     TB  GIDP   HBP   SH    SF   IBB  \
0    6.0   25.0  12.0  ...  0.229     41   43.0   3.0   1.0  0.0   1.0   0.0
1   46.0   78.0  20.0  ...  0.338    123  181.0   5.0   2.0  0.0   5.0   0.0
2   78.0  119.0  23.0  ...  0.331    116  234.0   6.0   1.0  0.0   1.0   1.0
3   73.0  120.0  16.0  ...  0.324    117  238.0   7.0   6.0  0.0   6.0   4.0
4   68.0   94.0  16.0  ...  0.410    179  227.0   5.0   5.0  0.0   3.0  12.0
5  271.0  436.0  87.0  ...  0.339    124  923.0  26.0  15.0  0.0  16.0  17.0
6   78.0  125.5  25.0  ...  0.339    124  265.6   7.5   4.3  0.0   4.6   4.9

     Pos    Awards
0    2/H       NaN
1  *2H/D       NaN
2   *2HD    MVP-18
3  *2D/H  MVP-12GG
4  *2D/H        AS
5    2DH       NaN
6    NaN       NaN

[7 rows x 32 columns]

In [5]:
data = data.drop(columns=["Awards", "Pos", "IBB", "2B"])
print(data)

         Season          Team            Lg   WAR      G      PA      AB  \
0          2021           SEA            AL  -0.5   47.0   148.0   139.0
1          2022           SEA            AL   3.9  119.0   415.0   370.0
2          2023           SEA            AL   3.4  145.0   569.0   513.0
3          2024           SEA            AL   4.7  153.0   628.0   546.0
4          2025           SEA            AL   5.1   99.0   438.0   367.0
5         5 Yrs         5 Yrs         5 Yrs  16.5  563.0  2198.0  1935.0
6  162 Game Avg  162 Game Avg  162 Game Avg   4.8  162.0   632.5   556.8

       R      H   3B  ...    SLG    OPS  OPS+   rOBA  Rbat+     TB  GIDP  \
0    6.0   25.0  0.0  ...  0.309  0.532    48  0.229     41   43.0   3.0
1   46.0   78.0  1.0  ...  0.489  0.774   122  0.338    123  181.0   5.0
2   78.0  119.0  1.0  ...  0.456  0.762   114  0.331    116  234.0   6.0
3   73.0  120.0  0.0  ...  0.436  0.748   119  0.324    117  238.0   7.0
4   68.0   94.0  0.0  ...  0.619  0.988   184  0.410    179  227.0   5.0
5  271.0  436.0  2.0  ...  0.477  0.788   125  0.339    124  923.0  26.0
6   78.0  125.5  0.6  ...  0.477  0.788   125  0.339    124  265.6   7.5

    HBP   SH    SF
0   1.0  0.0   1.0
1   2.0  0.0   5.0
2   1.0  0.0   1.0
3   6.0  0.0   6.0
4   5.0  0.0   3.0
5  15.0  0.0  16.0
6   4.3  0.0   4.6

[7 rows x 28 columns]

In [7]:
data = data.drop(columns=["SB", "SF", "OPS", "OBP", "WAR", "Lg", "Team", "SLG", "rOBA", "HBP", "R", "3B", "Rbat+", "GIDP", "OPS+", "HR", "CS"])
print(data)

KeyError: "['SB', 'SF', 'OPS', 'OBP', 'WAR', 'Lg', 'Team', 'SLG', 'rOBA', 'HBP', 'R', '3B', 'Rbat+', 'GIDP', 'OPS+', 'HR', 'CS'] not found in axis"

In [8]:
data = data.drop(columns=["RBI", "BB", "SO", "TB", "SH"])

In [9]:
print(data)

         Season      G      PA      AB      H     BA
0          2021   47.0   148.0   139.0   25.0  0.180
1          2022  119.0   415.0   370.0   78.0  0.211
2          2023  145.0   569.0   513.0  119.0  0.232
3          2024  153.0   628.0   546.0  120.0  0.220
4          2025   99.0   438.0   367.0   94.0  0.256
5         5 Yrs  563.0  2198.0  1935.0  436.0  0.225
6  162 Game Avg  162.0   632.5   556.8  125.5  0.225

In [11]:
data = data.drop(index=6)
print(data)

  Season      G      PA      AB      H     BA
0   2021   47.0   148.0   139.0   25.0  0.180
1   2022  119.0   415.0   370.0   78.0  0.211
2   2023  145.0   569.0   513.0  119.0  0.232
3   2024  153.0   628.0   546.0  120.0  0.220
4   2025   99.0   438.0   367.0   94.0  0.256
5  5 Yrs  563.0  2198.0  1935.0  436.0  0.225