<a href="https://colab.research.google.com/github/jjrsj8110/Mlbstats/blob/main/mlbProj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np

data = pd.read_csv("careerstats.csv")
print(data)
print(data.columns)

         Season           Age          Team            Lg   WAR      G  \
0          2021            24           SEA            AL  -0.5   47.0
1          2022            25           SEA            AL   3.9  119.0
2          2023            26           SEA            AL   3.4  145.0
3          2024            27           SEA            AL   4.7  153.0
4          2025            28           SEA            AL   5.1   99.0
5         5 Yrs         5 Yrs         5 Yrs         5 Yrs  16.5  563.0
6  162 Game Avg  162 Game Avg  162 Game Avg  162 Game Avg   4.8  162.0

       PA      AB      R      H  ...   rOBA  Rbat+     TB  GIDP   HBP   SH  \
0   148.0   139.0    6.0   25.0  ...  0.229     41   43.0   3.0   1.0  0.0
1   415.0   370.0   46.0   78.0  ...  0.338    123  181.0   5.0   2.0  0.0
2   569.0   513.0   78.0  119.0  ...  0.331    116  234.0   6.0   1.0  0.0
3   628.0   546.0   73.0  120.0  ...  0.324    117  238.0   7.0   6.0  0.0
4   438.0   367.0   68.0   94.0  ...  0.410    179  227.0   5.0   5.0  0.0
5  2198.0  1935.0  271.0  436.0  ...  0.339    124  923.0  26.0  15.0  0.0
6   632.5   556.8   78.0  125.5  ...  0.339    124  265.6   7.5   4.3  0.0

     SF   IBB    Pos    Awards
0   1.0   0.0    2/H       NaN
1   5.0   0.0  *2H/D       NaN
2   1.0   1.0   *2HD    MVP-18
3   6.0   4.0  *2D/H  MVP-12GG
4   3.0  12.0  *2D/H        AS
5  16.0  17.0    2DH       NaN
6   4.6   4.9    NaN       NaN

[7 rows x 33 columns]
Index(['Season', 'Age', 'Team', 'Lg', 'WAR', 'G', 'PA', 'AB', 'R', 'H', '2B',
       '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS',
       'OPS+', 'rOBA', 'Rbat+', 'TB', 'GIDP', 'HBP', 'SH', 'SF', 'IBB', 'Pos',
       'Awards'],
      dtype='object')

In [14]:
data = data.drop(columns="Age")
print(data)

         Season          Team            Lg   WAR      G      PA      AB  \
0          2021           SEA            AL  -0.5   47.0   148.0   139.0
1          2022           SEA            AL   3.9  119.0   415.0   370.0
2          2023           SEA            AL   3.4  145.0   569.0   513.0
3          2024           SEA            AL   4.7  153.0   628.0   546.0
4          2025           SEA            AL   5.1   99.0   438.0   367.0
5         5 Yrs         5 Yrs         5 Yrs  16.5  563.0  2198.0  1935.0
6  162 Game Avg  162 Game Avg  162 Game Avg   4.8  162.0   632.5   556.8

       R      H    2B  ...   rOBA  Rbat+     TB  GIDP   HBP   SH    SF   IBB  \
0    6.0   25.0  12.0  ...  0.229     41   43.0   3.0   1.0  0.0   1.0   0.0
1   46.0   78.0  20.0  ...  0.338    123  181.0   5.0   2.0  0.0   5.0   0.0
2   78.0  119.0  23.0  ...  0.331    116  234.0   6.0   1.0  0.0   1.0   1.0
3   73.0  120.0  16.0  ...  0.324    117  238.0   7.0   6.0  0.0   6.0   4.0
4   68.0   94.0  16.0  ...  0.410    179  227.0   5.0   5.0  0.0   3.0  12.0
5  271.0  436.0  87.0  ...  0.339    124  923.0  26.0  15.0  0.0  16.0  17.0
6   78.0  125.5  25.0  ...  0.339    124  265.6   7.5   4.3  0.0   4.6   4.9

     Pos    Awards
0    2/H       NaN
1  *2H/D       NaN
2   *2HD    MVP-18
3  *2D/H  MVP-12GG
4  *2D/H        AS
5    2DH       NaN
6    NaN       NaN

[7 rows x 32 columns]

In [15]:
data = data.drop(columns=["Awards", "Pos", "IBB", "2B"])
print(data)

         Season          Team            Lg   WAR      G      PA      AB  \
0          2021           SEA            AL  -0.5   47.0   148.0   139.0
1          2022           SEA            AL   3.9  119.0   415.0   370.0
2          2023           SEA            AL   3.4  145.0   569.0   513.0
3          2024           SEA            AL   4.7  153.0   628.0   546.0
4          2025           SEA            AL   5.1   99.0   438.0   367.0
5         5 Yrs         5 Yrs         5 Yrs  16.5  563.0  2198.0  1935.0
6  162 Game Avg  162 Game Avg  162 Game Avg   4.8  162.0   632.5   556.8

       R      H   3B  ...    SLG    OPS  OPS+   rOBA  Rbat+     TB  GIDP  \
0    6.0   25.0  0.0  ...  0.309  0.532    48  0.229     41   43.0   3.0
1   46.0   78.0  1.0  ...  0.489  0.774   122  0.338    123  181.0   5.0
2   78.0  119.0  1.0  ...  0.456  0.762   114  0.331    116  234.0   6.0
3   73.0  120.0  0.0  ...  0.436  0.748   119  0.324    117  238.0   7.0
4   68.0   94.0  0.0  ...  0.619  0.988   184  0.410    179  227.0   5.0
5  271.0  436.0  2.0  ...  0.477  0.788   125  0.339    124  923.0  26.0
6   78.0  125.5  0.6  ...  0.477  0.788   125  0.339    124  265.6   7.5

    HBP   SH    SF
0   1.0  0.0   1.0
1   2.0  0.0   5.0
2   1.0  0.0   1.0
3   6.0  0.0   6.0
4   5.0  0.0   3.0
5  15.0  0.0  16.0
6   4.3  0.0   4.6

[7 rows x 28 columns]

In [16]:
data = data.drop(columns=["SB", "SF", "OPS", "OBP", "WAR", "Lg", "Team", "SLG", "rOBA", "HBP", "R", "3B", "Rbat+", "GIDP", "OPS+", "HR", "CS"])
print(data)

         Season      G      PA      AB      H    RBI     BB     SO     BA  \
0          2021   47.0   148.0   139.0   25.0   13.0    7.0   52.0  0.180
1          2022  119.0   415.0   370.0   78.0   63.0   38.0  122.0  0.211
2          2023  145.0   569.0   513.0  119.0   75.0   54.0  158.0  0.232
3          2024  153.0   628.0   546.0  120.0  100.0   70.0  176.0  0.220
4          2025   99.0   438.0   367.0   94.0   84.0   63.0  108.0  0.256
5         5 Yrs  563.0  2198.0  1935.0  436.0  335.0  232.0  616.0  0.225
6  162 Game Avg  162.0   632.5   556.8  125.5   96.4   66.8  177.3  0.225

      TB   SH
0   43.0  0.0
1  181.0  0.0
2  234.0  0.0
3  238.0  0.0
4  227.0  0.0
5  923.0  0.0
6  265.6  0.0

In [17]:
data = data.drop(columns=["RBI", "BB", "SO", "TB", "SH"])

In [18]:
print(data)

         Season      G      PA      AB      H     BA
0          2021   47.0   148.0   139.0   25.0  0.180
1          2022  119.0   415.0   370.0   78.0  0.211
2          2023  145.0   569.0   513.0  119.0  0.232
3          2024  153.0   628.0   546.0  120.0  0.220
4          2025   99.0   438.0   367.0   94.0  0.256
5         5 Yrs  563.0  2198.0  1935.0  436.0  0.225
6  162 Game Avg  162.0   632.5   556.8  125.5  0.225

In [19]:
data = data.drop(index=6)
print(data)

  Season      G      PA      AB      H     BA
0   2021   47.0   148.0   139.0   25.0  0.180
1   2022  119.0   415.0   370.0   78.0  0.211
2   2023  145.0   569.0   513.0  119.0  0.232
3   2024  153.0   628.0   546.0  120.0  0.220
4   2025   99.0   438.0   367.0   94.0  0.256
5  5 Yrs  563.0  2198.0  1935.0  436.0  0.225

In [20]:
data = data.drop(columns="G")
print(data)

  Season      PA      AB      H     BA
0   2021   148.0   139.0   25.0  0.180
1   2022   415.0   370.0   78.0  0.211
2   2023   569.0   513.0  119.0  0.232
3   2024   628.0   546.0  120.0  0.220
4   2025   438.0   367.0   94.0  0.256
5  5 Yrs  2198.0  1935.0  436.0  0.225

In [21]:
data = data.drop(index=0)

In [22]:
data.index = ['First', 'Second', 'Third', 'Fourth', 'Average']
print(data)

        Season      PA      AB      H     BA
First     2022   415.0   370.0   78.0  0.211
Second    2023   569.0   513.0  119.0  0.232
Third     2024   628.0   546.0  120.0  0.220
Fourth    2025   438.0   367.0   94.0  0.256
Average  5 Yrs  2198.0  1935.0  436.0  0.225

In [23]:
data.loc['Average', 'Season'] = "averages"
print(data)

           Season      PA      AB      H     BA
First        2022   415.0   370.0   78.0  0.211
Second       2023   569.0   513.0  119.0  0.232
Third        2024   628.0   546.0  120.0  0.220
Fourth       2025   438.0   367.0   94.0  0.256
Average  averages  2198.0  1935.0  436.0  0.225

In [24]:
data.loc['Average', 'PA'] = data.loc['Average', 'PA'] /4
data.loc['Average', 'AB'] = data.loc['Average', 'AB'] /4
data.loc['Average', 'H'] = data.loc['Average', 'H'] /4
print(data)

           Season     PA      AB      H     BA
First        2022  415.0  370.00   78.0  0.211
Second       2023  569.0  513.00  119.0  0.232
Third        2024  628.0  546.00  120.0  0.220
Fourth       2025  438.0  367.00   94.0  0.256
Average  averages  549.5  483.75  109.0  0.225

In [25]:
data['NOAB'] = data['PA'] - data['AB']
print(data)

           Season     PA      AB      H     BA   NOAB
First        2022  415.0  370.00   78.0  0.211  45.00
Second       2023  569.0  513.00  119.0  0.232  56.00
Third        2024  628.0  546.00  120.0  0.220  82.00
Fourth       2025  438.0  367.00   94.0  0.256  71.00
Average  averages  549.5  483.75  109.0  0.225  65.75

In [26]:
data['HP'] = (data['H']*100) / data['PA']
data['OP'] = ((data['AB'] - data['H'])*100) / data['PA']
data['NOABP'] = ((data['PA'] - data['AB'])*100) /data['PA']

In [27]:
print(data)

           Season     PA      AB      H     BA   NOAB         HP         OP  \
First        2022  415.0  370.00   78.0  0.211  45.00  18.795181  70.361446
Second       2023  569.0  513.00  119.0  0.232  56.00  20.913884  69.244288
Third        2024  628.0  546.00  120.0  0.220  82.00  19.108280  67.834395
Fourth       2025  438.0  367.00   94.0  0.256  71.00  21.461187  62.328767
Average  averages  549.5  483.75  109.0  0.225  65.75  19.836215  68.198362

             NOABP
First    10.843373
Second    9.841828
Third    13.057325
Fourth   16.210046
Average  11.965423